In [29]:
import pandas as pd
from sqlalchemy import create_engine
from configETL import uid, pwd, database, server

ModuleNotFoundError: No module named 'configETL'

In [21]:
candy_csv = "../Project2-HalloweenInTheUS/state-by-state-favorite-halloween-candy.xls.csv"

In [22]:
candy_df = pd.read_csv(candy_csv)

In [23]:
candy_df.head()

,State,Top Candy,Top Candy pounds,2nd Place,2nd Place pounds,3rd Place,3rd Place pounds,NAME,geo_point_2d
0,FL,Skittles,660000,Snickers,543529,Reese's Peanut Butter Cups,194117,Florida,"28.4770584262, -82.4664183979"
1,AL,Hershey's Mini Chocolate Candy Bars,66000,Candy Corn,40173,Tootsie Pops,34434,Alabama,"32.7568799488, -86.8445209909"
2,NC,Reese's Peanut Butter Cups,104940,M&M's,86689,Candy Corn,41063,North Carolina,"35.5260232743, -79.1309087166"
3,NE,Sour Patch Kids,105897,Salt Water Taffy,67389,M&M's,24067,Nebraska,"41.5271511243, -99.8108558725"
4,OR,Reese's Peanut Butter Cups,91740,M&M's,51374,Tootsie Pops,36696,Oregon,"43.9404388614, -120.605272832"

In [25]:
candy_df2 = candy_df.rename(columns={"Top Candy": "1st Place", "Top Candy pounds": "1st Place pounds"})

In [26]:
candy_df2.head()

,State,1st Place,1st Place pounds,2nd Place,2nd Place pounds,3rd Place,3rd Place pounds,NAME,geo_point_2d
0,FL,Skittles,660000,Snickers,543529,Reese's Peanut Butter Cups,194117,Florida,"28.4770584262, -82.4664183979"
1,AL,Hershey's Mini Chocolate Candy Bars,66000,Candy Corn,40173,Tootsie Pops,34434,Alabama,"32.7568799488, -86.8445209909"
2,NC,Reese's Peanut Butter Cups,104940,M&M's,86689,Candy Corn,41063,North Carolina,"35.5260232743, -79.1309087166"
3,NE,Sour Patch Kids,105897,Salt Water Taffy,67389,M&M's,24067,Nebraska,"41.5271511243, -99.8108558725"
4,OR,Reese's Peanut Butter Cups,91740,M&M's,51374,Tootsie Pops,36696,Oregon,"43.9404388614, -120.605272832"

In [27]:
candy_df2.dtypes

State               object
1st Place           object
1st Place pounds     int64
2nd Place           object
2nd Place pounds     int64
3rd Place           object
3rd Place pounds     int64
NAME                object
geo_point_2d        object
dtype: object

In [28]:
engine = create_engine(f"postgres://{uid}:{pwd}@{server}/{database}")
con = engine.connect()

NameError: name 'create_engine' is not defined

In [ ]:
engine.table_names()

In [ ]:
candy_df2.to_sql(name='candy', con=engine, if_exists='append', index=True)